*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:#f5f7fb;

}

.container{

max-width:900px;

margin:40px auto;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

}

h1{

text-align:center;

color:#0d6efd;

margin-bottom:10px;

}

h2{

text-align:center;

margin-bottom:30px;

color:#555;

}

input,
textarea{

width:100%;

padding:15px;

margin-bottom:15px;

border:1px solid #ddd;

border-radius:8px;

font-size:16px;

}

textarea{

height:120px;

resize:vertical;

}

button{

width:100%;

padding:15px;

background:#0d6efd;

color:white;

border:none;

border-radius:8px;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#084298;

}
#resumePreview{

max-width:850px;

margin:auto;

background:white;

padding:40px;

border-radius:12px;

box-shadow:0 10px 30px rgba(0,0,0,.15);

line-height:1.8;

font-size:16px;

color:#222;

}

#resumePreview h1{

color:#0d6efd;

border-bottom:3px solid #0d6efd;

padding-bottom:10px;

margin-bottom:20px;

}

#resumePreview h2{

color:#0d6efd;

margin-top:25px;

margin-bottom:10px;

border-left:5px solid #0d6efd;

padding-left:10px;

font-size:20px;

}

#resumePreview hr{

margin:20px 0;

}
